main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 92%;
  padding-top: 30px;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 0px;
  > p {
    color: #a8cd9f;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding: 35px 0px;
  }
}
