.boxOptions {
  display: flex;
  flex-direction: column;
}
.firstButton {order: 1;}
.secondButton {order: 2;}
.thirdButton {order: 3;}
.fourthButton {order: 4;}
.section {
  font-family: "Inter-Bold", sans-serif;
  color: #fff;
  width: 700px;
  @media (max-width: 740px){width: 500px;}
  @media (max-width: 520px){width: 380px;}
  @media (max-width: 400px){width: 270px;}
  h1 {
    color: #a8cd9f;
    font-size: 44px;
    text-align: left;
    width: 100%;
    padding: 0px 0px 20px 0px;
    margin: 0px;
    text-shadow: 0px 4px 4px #0004;
    max-width: 1400px;
    @media (max-width: 520px){font-size: 34px;}
  }
  .containerHeaders {
    display: flex;
    justify-content: space-between;
    > p {
      font-size: 25px;
      margin: 0px;
      text-shadow: 0px 2px #0004;
      @media (max-width: 520px){  font-size: 20px;}
      @media (max-width: 400px){  font-size: 18px;}
    }
  }
  .result {
    font-size: 27px;
    padding-top: 15px;
    font-weight: 700;
    margin: 0px;
    text-shadow: 0px 2px #0004;
  }
  .boxAnswers {
    outline: 1px solid #fff5;
    border-radius: 5px;
    margin: 15px 0px 20px 0px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
    @media (max-width: 400px){
      font-size: 20px;
      flex-direction: column;
      padding: 12px 0px;
    }
    &_correct {
      margin: 0px;
      color: #70de75;
    }
    &_incorrect {
      margin: 0px;
      color: #d55151;
    }
  }
  .boxMessage {
    > p {
      font-size: 18px;
      text-align: center;
      margin: 0px;
      text-shadow: 0px 2px #00000044;
    }
  }
  .btnsNextLevel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 0px;
    @media (max-width: 520px){
      gap: 8px;
      flex-direction: column;
    }
    > button {
      color: #fff;
      padding: 15px 10%;
      background-color: #d9d9d940;
      border: none;
      outline: none;
      text-shadow: 0px 2px #0004;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.1s ease;
      &:hover { background-color: #d9d9d980;}
      @media (max-width: 520px){width: 100%;}
    }
  }
  .question {
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    text-align: justify;
    height: 80px;
    margin: 0px;
    display: flex;
    align-items: center;
    @media (max-width: 740px){
      height: 100%;
      padding: 15px 0px;
    }
  }
  .boxOptions > button {
      background-color: #d9d9d940;
      color: #fff;
      text-shadow: 0px 2px #0004;
      border-radius: 5px;
      font-size: 20px;
      outline: none;
      padding: 15px 0px;
      margin: 0px 0px 10px 0px;
      border: none;
      cursor: pointer;
      transition: background-color 0.1s ease;
      &:hover { background-color: #d9d9d980;}
      &.answerCorrect {
        background-color: #b0eba2ab;
        outline: 1px solid #b0eba2;
      }
      &.answerIncorrect {
        background-color: #d55151ab;
        outline: 1px solid #d55151;
      }
  }
  .answerCorrect {
    background-color: #b0eba2;
    outline: 1px solid #b0eba2;
  }
  .btnDashboard {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    @media (max-width: 740px){margin-top: 0px;}
    > a {
      display: block;
      height: 100%;
      > svg {
        fill: #fff;
        width: 100%;
        height: 100%;
      }
      &:hover > svg {fill: #a8cd9f;}
    }
  }
}